.ProfileContainer{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(226, 231, 231);
    width: 300px;
    border-radius: 25px;
    box-shadow: rgba(160, 162, 160, 0.881) 0px 5px 15px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 20px;
    background-color: rgb(226, 231, 231);
   

   
}
.ProfileContainer img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
