@media screen and (max-width : 420px){

    .navOptions{
    
        display: none;
        background-color: rgb(58, 3, 57);
    
    }
    .menu{
        
        font-size: 5rem;
        display:none;
    
    }
    

}


@media screen and (min-width : 1024px){


    .navOptions{
        display : flex;
        justify-content :  space-around;
        align-items:top;
        font-size: 2rem;
        font-style: normal;
        font-weight: bold;
        color: rgb(11, 11, 11);
        background-color: aqua;
    }
    .menu{
        font-size: 5rem;
    }

}